*{
    font-family: sans-serif;
}

html{
    background-color: #f7ecfb;
}

.encabezado{
    background-color: #a119d6;
    color: #f7ecfb;
    margin: auto;
    padding: 1em;
}

.titulo{
    text-align: center;
}

.cuerpo{
    padding: 6em;
    margin: auto;
}

.pie_de_pagina{
    background-color: #190521;
    color: #f7ecfb;
    margin: auto;
    padding: 1em;
}

.texto_footer{
    text-align: center;
}